# MongoDB Atlas
# Replace <db_password> locally with the password for ronalnerg7_db_user.
MONGODB_URI=mongodb+srv://ronalnerg7_db_user:<db_password>@erp.ow4p4at.mongodb.net/erp?appName=ERP

# API
PORT=4000
NODE_ENV=development
